.quote {
  position: relative;
}
.quote:before {
  content: "";
  position: absolute;
  bottom: -16px;
  right: 0px;
  border-top: 10px solid #eee;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}